@model IEnumerable<ISP.Models.TitulacionTesis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomEmp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomAlumno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsesorInterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsesorExterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agradecimientos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resumen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulacion.Estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomEmp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomAlumno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsesorInterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsesorExterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agradecimientos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resumen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulacion.Estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
