@model ISP.Models.Anteproyecto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Anteproyecto</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.NombreProyecto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreProyecto)
                @Html.ValidationMessageFor(model => model.NombreProyecto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Objetivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Objetivo)
                @Html.ValidationMessageFor(model => model.Objetivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Justificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Justificacion)
                @Html.ValidationMessageFor(model => model.Justificacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cronograma, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cronograma)
                @Html.ValidationMessageFor(model => model.Cronograma)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescActividades, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescActividades)
                @Html.ValidationMessageFor(model => model.DescActividades)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion)
                @Html.ValidationMessageFor(model => model.Direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NombreEmp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreEmp)
                @Html.ValidationMessageFor(model => model.NombreEmp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiroEmp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiroEmp)
                @Html.ValidationMessageFor(model => model.GiroEmp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DireccionEmp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DireccionEmp)
                @Html.ValidationMessageFor(model => model.DireccionEmp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CargoEmp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CargoEmp)
                @Html.ValidationMessageFor(model => model.CargoEmp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefonoEmp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefonoEmp)
                @Html.ValidationMessageFor(model => model.TelefonoEmp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorreoElecEmp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoElecEmp)
                @Html.ValidationMessageFor(model => model.CorreoElecEmp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estatus)
                @Html.ValidationMessageFor(model => model.estatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
